New_Material_Prediction_And_Properties/data/roads/asphalt/outputs/raw_data.h5
New_Material_Prediction_And_Properties/data/roads/plastic_grid_data/graph_data.npy
data/concrete_data/concrete_data_20241121_114632.json
data/concrete_data/concrete_data_20241121_114642.csv
New_Material_Prediction_And_Properties/data/roads/plastic_grid_data/raw_data.h5

data/concrete_data/concrete_data_20241117_130408.json
data/concrete_data/concrete_data_20241117_130418.csv